@model IEnumerable<LaunchPad.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Access)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Username)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Access)
            </td>
        </tr>
}
    </tbody>
</table>

