@using Job = Hangfire.Common.Job
@model IEnumerable<LaunchPad.Models.Job>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (item.Status == Status.Failed)
                {
                    <a tabindex="0" job-id="@item.Id"  action="JobDetails" class="jobModalButton btn btn-xs btn-danger" role="button" data-toggle="popover" data-trigger="hover" data-placement='top' title="An exception occurred during performance of the job." data-content="@item.Outcome">@Html.DisplayFor(modelItem => item.Status)</a>
                }
                else if (item.Status == Status.Scheduled)
                {
                    <a tabindex="0" job-id="@item.Id" action="CancelJob" class="jobModalButton btn btn-xs btn-warning">@Html.DisplayFor(modelItem => item.Status)</a>
                }
                else if (item.Status == Status.Cancelled)
                {
                    <a tabindex="0" class="btn btn-xs btn-danger">@Html.DisplayFor(modelItem => item.Status)</a>
                }
                else
                {
                    <a tabindex="0" job-id="@item.Id" action="JobDetails" class="jobModalButton btn btn-xs btn-success">@Html.DisplayFor(modelItem => item.Status)</a>
                }

            </td>
        </tr>
    }

</table>
